@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Fredericka+the+Great&family=PT+Serif&family=Rajdhani&family=Raleway&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  outline: 0;
  text-decoration: none;
}

img {
  border: 0;
}

fieldset {
  border: none;
}

table {
  border-collapse: collapse;
}

input, label {
  vertical-align: middle;
}

.h {
  position: absolute;
  top: -99999px;
  opacity: 0;
}

header {
    z-index: 3;
}
body {
  font: 17px/1.4 "IM Fell French Canon";
  letter-spacing: 1px;
}
body figure {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: 1;
}
body figure video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
body figure .txt {
  position: absolute;
  left: 6vw;
  top: 40%;
  transform: translateY(-50%);
}
body figure .txt ul li {
  color: #fff;
}
body figure .txt ul li a {
  font: normal 2.5vw/1 "PT Serif";
  text-shadow: 0px 0px 20px #b69452;
  position: absolute;
  left: 20%;
}
body figure .txt ul li p {
  font: bold 4vw/2 "Orbitron";
  letter-spacing: 1px;
  background: linear-gradient(157.84deg, #f8d494 17.61%, #c19a52 23.28%, #dec291 25.83%, #d0a869 32.36%, #cfa967 37.74%, #fce8c5 42%, #ffdaa3 45.68%, #cfa967 53.62%, #fce8c5 59.01%, #f0c984 64.4%, #d09b5c 72.06%);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}
body nav {
  /* width: 90vw; */
  left: 17%;
  margin-left: 100px;
  position: absolute;
  bottom: 40vh;
  z-index: 1;
  cursor: pointer;

}
body nav span {
  width: 120%;
  height: 60px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45px;
  font: bold 20px/1 "Raleway";
  color: #fff;
  letter-spacing: 2px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 0.8;
  border-radius: 10px;
  text-shadow: 0px 0px 10px #1f1e1d;
  transition: .7s;
  
}
body nav span:hover {
  opacity: 1;
  transform: scale(1.05);
  text-shadow: 0px 0px 10px #f8d494;
  background: rgba(255, 255, 255, 0.5);
}

#image-box {
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#image-box > img {
  height: 100%;
  max-height: 300px;
  margin-top: 200px;
  object-fit: contain;
}

#profile-box {
  color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
  margin-top: 130px;
  /* border-bottom: 1px solid #e9ecef; */
  display: flex;
  align-items: center;
  font: bold 30px/1 "orbitron";
}

#profile-box > img {
  width: 50px;
  height: 50px;
}

#profile-box > span {
  font-size: 15px;
  margin-left: 8px;
  font-weight: 600;
  font: bold 20px/1 "orbitron";
  text-shadow: 0px 0px 20px #eed39e;
}

#contents-box {
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin-top: 20px;
  color: #fff;
  font: normal 13px/1 "orbitron";
  text-shadow: 0px 0px 20px #eed39e;
}

#contents-box > span {
  padding: 16px;

}

#name {
  font-size: 20px;
  font-weight: 400;
  font: bold 25px/1 "orbitron";
  letter-spacing: 2px;
  color: #e7ba82;
}

#price {
  font-size: 16px;
  font-weight: 600;
  font: bold 20px/1 "orbitron";
  letter-spacing: 2px;
  margin-top: 20px;
}

#createAt {
  font-size: 10px;
  color: rgb(204, 204, 204);
  font: bold 20px/1 "orbitron";
}


#description {
  margin-top: 16px;
  font-size: 16px;
  font: bold 22px/1 "Fredericka the Great";
}

#purchase-button {
  margin-top: 10px;
  margin-bottom: 16px;
position: absolute;
margin-right: 110px;
background: rgb(224, 161, 2);
}

#delete-button {
  margin-top: 10px;
  margin-bottom: 16px;
  margin-left: 20px;
  position: absolute;
}


footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  font: 13px/1 "IM Fell French Canon";
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  padding: 5vh 5vw;
  z-index: 3;
}

/*# sourceMappingURL=main.css.map */
